{
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console",
        "@babel/plugin-syntax-dynamic-import"
      ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@navigation": "./src/navigation",
          "@configs": "./src/configs",
          "@utils": "./src/utils",
          "@themes": "./src/themes",
          "@common": "./src/common",
          "@assets": "./src/assets",
          "@layouts": "./src/layouts"
        }
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ]
}
